* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    position: relative;
  }
  
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #fff;
    color: #fff;
    padding: 20px 0;
}

.logged-user-links {
    display: inline-block;
    padding: 8px 16px;
    margin-right: 10px;
    text-decoration: none;
    color: #333;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.logged-user-links:hover {
    background-color: #ddd;
    color: #000;
}

.logged-user-links:last-child {
    margin-right: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.modal-content {
    max-width: 75%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.808) 0px 5px 15px;
}

.modal-content h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    color: white;
}

.Editar{
    background-color: cornflowerblue;
}

.Excluir{
    background-color: darkred;
}

button:hover {
    background-color: #000;
}

footer {
     background-color: #333;
      color: #fff;
      padding: 20px 0;
      position: fixed;
      bottom: 0;
      width: 100%;
      text-align: center;
}