
:root {
    --primaryColor: #f1f1f1;
    --footerColor: #1D2837;
    --black: #222;
    --black2: #555;
    --black3: #252525;
    --black4: #000;
    --black5: #212529;
    --orange: #eb0028;
    --white: #fff;
    --grey: #959595;
    --grey2: #666;
    --grey3: #ccc;
    --secondaryColor: #2b1f4d;
    --yellow: #ffcc00;
    --green: #59b210;
    --blue: rgb(56, 10, 223);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  input {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: "Archivo", sans-serif;
    color: var(--black);
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
  }
  
  h3,
  h4 {
    font-weight: 500;
  }
  
  /*
  ======================
  Header
  ======================
  */
  
  .header {
    position: relative;
  }
  
  .container {
    max-width: 117rem;
    margin: 0 auto;
    padding: 0 1.6rem;
  }
  
  .container-teste {
    max-width: 117rem;
    margin: 0 auto;
    padding: 0 1.6rem;
    margin-top: 50px;
    margin-bottom: 50rem;
  }
  /*
  ======================
  Navigation
  ======================
  */
  
  .navigation {
    position: relative;
    height: 7rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  }
  
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    height: 7rem;
    padding: 0 1rem;
  }
  
  .fix__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
    z-index: 1200;
  }
  
  .nav__logo a {
    font-size: 2.5rem;
    color: var(--black);
    padding: 1.6rem;
    font-weight: 700;
  }
  
  .nav__hamburger {
    display: none;
    cursor: pointer;
  }
  
  .nav__hamburger svg {
    height: 2.3rem;
    width: 2.3rem;
  }
  
  .menu__top {
    display: none;
  }
  
  .nav__menu {
    width: 50%;
    justify-content: center;
    display: flex;
  }
  
  .nav__list {
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
  }
  
  .nav__item:not(:last-child) {
    margin-right: 1.6rem;
  }
  
  .nav__list .nav__link:link,
  .nav__list .nav__link:visited {
    display: inline-block;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--black);
    transition: color 0.3s ease-in-out;
  }
  
  .nav__list .nav__link:hover {
    color: var(--grey3);
  }
  
  .nav__icons {
    display: flex;
    position: relative;
  }
  
  .nav__icons .icon__item svg {
    width: 1.6rem;
    height: 1.6rem;
  }
  
  .nav__icons .icon__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    padding: 0.7rem;
    border: 1px solid var(--black);
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
  }
  
  .nav__icons .icon__item:link,
  .nav__icons .icon__item:visited {
    color: var(--black);
  }
  
  .nav__icons .icon__item:hover {
    background-color: var(--grey3);
    border: 1px solid var(--black);
  }
  
  .nav__icons .icon__item:not(:last-child) {
    margin-right: 1rem;
  }
  
  .nav__icons #cart__total {
    font-size: 1rem;
    position: absolute;
    top: 2px;
    right: -6px;
    background-color: var(--orange);
    padding: 0.2rem 0.4rem;
    border-radius: 100%;
    color: var(--primaryColor);
  }
  
  .page__title-area {
    background-color: var(--primaryColor);
  }
  
  .page__title-container {
    padding: 1rem;
  }
  
  .page__titles {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: var(--grey2);
  }
  
  .page__titles a {
    margin-right: 2rem;
  }
  
  .page__titles a svg {
    width: 1.8rem;
    height: 1.8rem;
    fill: var(--grey2);
  }
  
  .page__title {
    position: relative;
  }
  
  .page__title::before {
    position: absolute;
    content: "/";
    top: 0;
    left: -1rem;
  }
  
  /*
  ======================
  Hero Area
  ======================
  */
  
  .hero,
  .hero .glide__slides {
    background-color: var(--primaryColor);
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  .hero .glide__bullet {
    background-color: #222;
    width: 1.2rem;
    height: 1.2rem;
  }
  
  .hero .glide__arrow {
    padding: 1.5rem 1.7rem;
    opacity: 0;
    border: none;
    background-color: var(--grey);
    transition: all 0.5s ease-in-out 0.2s;
  }
  
  .glide__arrow:hover {
    background-color: var(--black);
  }
  
  .glide__arrow--left {
    left: 20rem;
  }
  
  .glide__arrow--right {
    position: absolute;
    right: 20rem;
  }
  
  .hero:hover .glide__arrow {
    opacity: 1;
  }
  
  .hero:hover .glide__arrow--left {
    left: 23rem;
  }
  
  .hero:hover .glide__arrow--right {
    right: 23rem;
  }
  
  .hero .glide__arrow svg {
    height: 1.8rem;
    width: 1.8rem;
    fill: var(--primaryColor);
  }
  
  .hero .glide__arrow {
    border-radius: 50%;
  }
  
  .hero__center {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 114rem;
    margin: 0 auto;
    height: 100%;
    padding-top: 3rem;
  }
  
  .hero__left {
    padding: 0 3rem;
    flex: 0 0 50%;
  }
  
  .hero__btn {
    display: inline-block;
    font-weight: 700;
    font-size: 1.4rem;
    background-color: var(--black);
    color: var(--primaryColor);
    cursor: pointer;
    margin-top: 1rem;
    padding: 1.5rem 4rem;
    border: 1px solid var(--black);
    transition: all 0.3s ease-in-out;
  }
  
  .hero__btn:focus {
    outline: none;
  }
  
  .hero__left .hero__btn:hover {
    font-weight: 700;
    background-color: transparent;
    color: var(--black);
  }
  
  .hero__left h1 {
    margin: 1rem 0;
  }
  
  .hero__left p {
    margin-bottom: 1rem;
  }
  
  .hero__right {
    flex: 0 0 50%;
    position: relative;
    text-align: center;
  }
  
  .hero__right img.banner_03 {
    width: 70%;
  }
  
  /*
  ======================
  Latest Products
  ======================
  */
  
  .title__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 6rem;
    padding: 2rem 0;
    background-color: var(--primaryColor);
  }
  
  .section__titles:not(:last-child) {
    margin-right: 1.5rem;
  }
  
  .section__title {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .section__title h1 {
    font-size: 1.9rem;
    font-weight: inherit;
  }
  
  .section__title:hover .primary__title,
  .section__title:hover span.dot,
  .section__title:hover span.dot::before {
    opacity: 1;
  }
  
  .section__title .primary__title {
    opacity: 0.6;
    padding-left: 0.5rem;
    transition: opacity 0.3s ease-in-out;
  }
  
  span.dot {
    opacity: 0.6;
    padding: 0.45rem;
    position: relative;
    border: 1px solid var(--black);
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
  }
  
  span.dot::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid var(--black);
    background-color: var(--black);
    margin: 1px;
    opacity: 0.6;
  }
  
  .section__title.active span.dot {
    opacity: 1;
  }
  
  .section__title.active span.dot::before {
    opacity: 1;
  }
  
  .section__title.active .primary__title {
    opacity: 1;
  }

  .section-text {
    padding: 50px 0;
    background-color: #f9f9f9;
    text-align: center;
  }

  .product {
    position: relative;
    text-align: center;
  }
  
  .product ul svg {
    width: 1.7rem;
    height: 1.7rem;
    fill: var(--white);
  }
  
  .product ul {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: 35%;
    left: 50%;
    width: 17rem;
    height: 5rem;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%) scale(0.7);
    transition: all 0.5s ease-in-out;
  }
  
  .product:hover ul {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
  }
  
  .product ul li:not(:last-child) {
    margin-right: 1.6rem;
  }
  
  .product ul a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .product ul a:hover {
    color: var(--grey3);
  }
  
  .product ul a::before {
    content: "";
    position: absolute;
    top: -0.6rem;
    left: -0.6rem;
    height: 0;
    width: 0;
    border-top: 3px solid var(--orange);
    border-left: 3px solid var(--orange);
    transition: 0.5s;
    opacity: 0;
    z-index: 1;
  }
  
  .product ul a::after {
    content: "";
    position: absolute;
    bottom: -0.6rem;
    right: -0.6rem;
    width: 0;
    height: 0;
    border-bottom: 3px solid var(--orange);
    border-right: 3px solid var(--orange);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
  }
  
  .product ul a:hover::before {
    width: 126%;
    height: 126%;
    border-top: 3px solid var(--black);
    border-left: 3px solid var(--black);
    opacity: 1;
  }
  
  .product ul a:hover::after {
    width: 126%;
    height: 126%;
    border-bottom: 3px solid var(--black);
    border-right: 3px solid var(--black);
    opacity: 1;
  }

.buttons a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
}

  .product {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 25rem;
  }
  
  .product__header {
    height: 25rem;
    padding: 0.5rem 0;
    text-align: center;
  }
  
  .product__header img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .rating svg {
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--yellow);
  }
  
  .product__footer {
    padding: 1rem 0;
  }

  .product__footer h3 {
    padding: 1rem 0;
  }
  
  .product__footer .product__price {
    padding-bottom: 1rem;
  }
  
  .product__footer h3 {
    font-size: 1.6rem;
  }
  
  .product__btn {
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    padding: 1.4rem 0;
    border: 1px solid var(--black);
    color: var(--black);
    cursor: pointer;
  }
  
  .product__btn:focus {
    outline: none;
  }
  
  .product__btn:hover {
    background-color: var(--black);
    color: var(--primaryColor);
  }
  
  .latest__products .glide__arrow {
    background-color: transparent;
    border: 1px solid var(--primaryColor);
    outline: none;
    border-radius: 0;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0);
    top: -7%;
    left: 80%;
  }
  
  .latest__products .glide__arrow:hover,
  .related__products .glide__arrow:hover {
    background-color: var(--grey3);
    border: 1px solid var(--primaryColor);
  }
  
  .latest__products .glide__arrow--left,
  .related__products .glide__arrow--left {
    left: 75%;
  }
  
  .latest__products .glide__arrow--right,
  .related__products .glide__arrow--right {
    right: 5%;
  }
  
  /*
  ======================
  Footer
  ======================
  */

body {
   margin: 0; /* Remover margens padrão */
   padding: 0; /* Remover preenchimento padrão */
   display: flex;
   flex-direction: column;
   min-height: 100vh; /* Definir altura mínima como 100% da altura visível da tela */
   overflow-x: hidden;
   font-size: 1.6rem;
   font-weight: 400;
   font-family: "Archivo", sans-serif;
   color: var(--black);
}

main {
  flex: 1;
}

footer {
     background-color: #333;
      color: #fff;
      padding: 20px 0;
      position: fixed;
      bottom: 0;
      width: 100%;
      text-align: center;
}

