* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #1D2837;
    color: #fff;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline-block;
    margin-right: 20px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
}

.icones img {
    height: 20px;
    margin-right: 10px;
}

.icones img {
    height: 20px;
    margin-right: 10px;
    color: white;
}


footer {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 20px 0;
  text-align: center;
}

.footer-logo {
  text-align: center;
  margin-bottom: 20px;
}

.footer-logo img {
  width: 150px;
}

.footer-links ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.footer-links ul li {
  display: inline-block;
  margin-right: 20px;
}

.footer-links ul li:last-child {
  margin-right: 0;
}

.footer-links ul li a {
  color: var(--white-color);
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }

  .menu ul li {
    margin-right: 10px;
  }

  .footer-logo img {
    width: 100px;
  }

  .footer-links ul li {
    margin-right: 10px;
  }
}
